@import "../base";

.container{
  width: rpx2multiple(1380);
  margin: 0 auto;
}

.breadcrumb {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}

.container{

  .proDet{
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
    position: relative;
    // height: 650px;
    .pro_big{
      .pro_big_right {
        width: rpx2multiple(664);
        height: rpx2multiple(664);
        position: absolute;
        left:rpx2multiple(684);
        top: 0;
        z-index: 11;
        overflow: hidden;
        border-radius: rpx2multiple(12);
        img {
          width: 200%;
          height:200%;
          // overflow: hidden;
        }
      }
      // flex: 1;
      width: rpx2multiple(664);
      height: rpx2multiple(800);
      // height: 480px;
      // margin-right: 60px;
      // position: relative;
      position: sticky;
      top: rpx2multiple(136);
      z-index: 11;
      img{
        width: rpx2multiple(664);
        height:rpx2multiple(664);
        border-radius: rpx2multiple(12);
        // overflow: hidden;
      }
      .zoomicon {
        width:rpx2multiple(42);
        height:rpx2multiple(42);
        position: absolute;
        right: 0;
        top: rpx2multiple(622);
      }
      // 放大镜
      .top {
        width: rpx2multiple(332);
        height: rpx2multiple(332);
        background-color: lightcoral;
        opacity: 0.4;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
      .maskTop {
        width: rpx2multiple(664);
        height:rpx2multiple(664);
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
      }

      .tro_list{
        margin-top: 10px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        

        span{
          width: rpx2multiple(120);
          height: rpx2multiple(120);
          display: inline-block;
          border-radius: 10px;
          cursor: pointer;
          border:1px solid transparent;
          overflow: hidden;
          box-sizing: border-box;
          padding: 2px;

          a{
            img{
              width: 100%;
              height: 100%;
            }
          }
        }

        span:hover{
          border-radius: 10px;
          border: 2px solid #FF946B;
          overflow: hidden;
          // background-color: #FF946B;
        }
      }

    }
    

    .intro{
      width: rpx2multiple(664);

      .intro_title{

        h3{
          height: rpx2multiple(56);
          line-height: rpx2multiple(56);
          font-size:rpx2multiple(40);
          font-weight: normal;
          margin-bottom: rpx2multiple(16);
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #2D2E33;

        }

        h5{
          height: rpx2multiple(30);
          font-size:rpx2multiple(22);
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #73757D;
          line-height: rpx2multiple(30);
          margin-bottom: rpx2multiple(39);
        }

        .price{
          color: #a10000;
        }
      }

      .proIntro{
        // padding: 20px 10px;
        margin-top: 15px;
        // border-top: 1px solid #dbdbdb;
        // border-bottom: 1px solid #dbdbdb;

        p{
          height: 40px;
          line-height: 40px;
          font-size: 14px;

          span{
            color: #C10000;
            padding: 0 5px;
          }

        }

        .tro_list{
          margin-bottom: 20px;
          display: flex;
          justify-content: space-between;


          span{
            width: 55px;
            height: 55px;
            display: inline-block;
            padding: 2px;
            margin-right: 20px;
            cursor: pointer;
            // border:1px solid transparent;

            a{
              img{
                width: 55px;
                height: 55px;
              }
            }
          }

          span:hover{
            // border:1px solid #C10000;
            border-radius: 2px;
            // background-color: #C10000;
          }
        }
      }
    }
  }

  //评论 为你推荐
  .pro_information{
    display: flex;
    margin-top: 96px;
    .comment{
      width: rpx2multiple(1380);
      // height: 600px;
      // border-top: 2px solid #dbdbdb;

      .tab{
        .per{
          border-bottom: 1px dashed #dbdbdb;
          margin-bottom: 10px;
          display: flex;

          .per_img{
            width: 40px;
            height: 40px;
            margin-right: 15px;
            text-align: center;


            img{
              width: 40px;
              height: 40px;
            }
          }

          .perR{
            .perR_name{
              height: 40px;
              line-height: 40px;
              font-size: 12px;
              font-weight: bold;
            }

            .perR_comment{
              height: 40px;
              line-height: 20px;
              font-size: 12px;
              //超出部分省略号
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp:2;
              -webkit-box-orient: vertical;
            }

            .perR_img{
              span{
                width: 40px;
                height: 40px;
                display: inline-block;
                padding: 3px;
                text-align: center;
                border-radius: 2px;
                border: 1px solid #dbdbdb;
                margin:12px 10px 0 0;

                img{
                  margin: 0;
                  padding: 0;
                  width: 40px;
                  height: 40px;
                }
              }
            }

            .perR_date{
              height: 40px;
              line-height: 40px;
              font-size: 12px;
              color: #b0b0b0;
              span{
                padding-left:10px;
              }
            }
          }
        }

        .pro_img{
          text-align: center;;
          img{
            width: 80%;
            margin-bottom: 10px;
          }
        }
      }
    }

    .recommended{
      margin-left: 30px;
      margin-top:40px;
      width: 200px;
      margin-bottom: 15px;
      height: auto;
      border: 1px solid #dbdbdb;

      .recommended_title{
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #f6f6f6;
        font-weight: bold;
        font-size: 13px;
      }

      .recommended_list{
        padding:20px;

        .recommended_item{
          margin-bottom: 15px;

          p{
            font-size: 12px;
            height: 26px;
            line-height: 26px;
            font-weight: bold;
          }

          .item_price{
            color: #a10000;
          }
        }
      }
    }
  }
}
