@import "../base";
@function rpx2multiple ($px) {
  @return ($px / 1)+px;
}
@function rpx2multiple1 ($px) {
  @return ($px / 1)+px;
}
.cate-filter {
  width: 100%;
  //min-height: 176px;
  position: fixed;
  top: 96px;
  z-index: 1000;
}

.tab-list {
  width: 100%;
  min-height: 176px;
  // margin: auto;
  position: sticky;
  top: rpx2multiple1(92);
  margin-top: rpx2multiple1(92);
  z-index: 1000;
  // background-color: #fff;
  // position: relative;
}
.leftbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(77deg, #FFECE5 0%, rgba(255, 255, 255, 0) 100%);
}
.rightbg {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(252deg, #E5EDFF 0%, rgba(255, 255, 255, 0) 100%);
}
.tab-list-1 {
  width: rpx2multiple(1380);
  height: 196px;
  height: rpx2multiple(196);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  .icon-text {
    text-align: center;
    p {
      height: 28px;
      font-size: 20px;
      font-size: rpx2multiple(20);
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #2D2E33;
      line-height: 28px;
    }
    > div {
      width: 56px;
      height: 56px;
      width: rpx2multiple(56);
      height: rpx2multiple(56);
      margin: 0 auto;
      
    }
    &.icon-fz > div {
      background: url('../../assets/img/slices/icon-fz.png') no-repeat center center;
      background-size: 100% 100%;
    }
    &.icon-fs > div {
      background: url('../../assets/img/slices/icon-fs.png') no-repeat center center;
      background-size: 100% 100%;
    }
    &.icon-gy > div {
      background: url('../../assets/img/slices/icon-gy.png') no-repeat center center;
      background-size: 100% 100%;
    }
    &.icon-ys > div {
      background: url('../../assets/img/slices/icon-ys.png') no-repeat center center;
      background-size: 100% 100%;
    }
    &.icon-ry > div {
      background: url('../../assets/img/slices/icon-ry.png') no-repeat center center;
      background-size: 100% 100%;
    }
    &.icon-cy > div {
      background: url('../../assets/img/slices/icon-cy.png') no-repeat center center;
      background-size: 100% 100%;
    }
    &.icon-fy > div {
      background: url('../../assets/img/slices/icon-fy.png') no-repeat center center;
      background-size: 100% 100%;
    }
    &.icon-hw > div {
      background: url('../../assets/img/slices/icon-hw.png') no-repeat center center;
      background-size: 100% 100%;
    }
    &.icon-lh > div {
      background: url('../../assets/img/slices/icon-lh.png') no-repeat center center;
      background-size: 100% 100%;
    }
    &:hover {
      transition: all 0.5s ease-in-out;
      &.icon-fz > div {
        background: url("../../assets/img/slices/icon-fz-1.png") no-repeat center center;
        background-size: 100% 100%;
      }
      &.icon-fs > div {
        background: url("../../assets/img/slices/icon-fs-1.png") no-repeat center center;
        background-size: 100% 100%;
      }
      &.icon-gy > div {
        background: url("../../assets/img/slices/icon-gy-1.png") no-repeat center center;
        background-size: 100% 100%;
      }
      &.icon-ys > div {
        background: url("../../assets/img/slices/icon-ys-1.png") no-repeat center center;
        background-size: 100% 100%;
      }
      &.icon-ry > div {
        background: url("../../assets/img/slices/icon-ry-1 (2).png") no-repeat center center;
        background-size: 100% 100%;
      }
      &.icon-cy > div {
        background: url("../../assets/img/slices/icon-cy-1.png") no-repeat center center;
        background-size: 100% 100%;
      }
      &.icon-fy > div {
        background: url("../../assets/img/slices/icon-fy-1.png") no-repeat center center;
        background-size: 100% 100%;
      }
      &.icon-hw > div {
        background: url("../../assets/img/slices/icon-hw-1.png") no-repeat center center;
        background-size: 100% 100%;
      }
      &.icon-lh > div {
        background: url("../../assets/img/slices/icon-lh-1.png") no-repeat center center;
        background-size: 100% 100%;
      }
      p {
        color: #FF946B;
      }
    }
  }
}
.tab-list-2 {
  width: rpx2multiple(1380);
  height: 194px;
  height: rpx2multiple(194);
  position: relative;
  z-index: 2;
  margin: auto;
  .tab-list-2-1 {
    width: 100%;
    height: 50%x;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      margin: 0 44px;
      padding: 10px;
      box-sizing: border-box;
      border-bottom: solid 6px transparent;
      font-size: rpx2multiple(24);
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #73757D;
      cursor: pointer;
      &:hover {
        transition: all 0.5s ease-in-out;
        border-bottom: solid 6px #FF946B;
        font-weight: 500;
        color: #2D2E33;
      }
    }
  }
  .tab-list-2-2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      margin: 0 12px;
      font-size: rpx2multiple(18);
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #FFFFFF;
      padding:8px 20px;
      background: #000000;
      border-radius: 4px;
      opacity: 0.16;
      &.active {
        background: #FF946B;
      }
    }
  }
}

//轮播图部分
.swipe {
  margin-top: rpx2multiple(246);
  .swipe_img {
    background-size: cover;
    background-position: center center;
    width: rpx2multiple(1380);
    height: 100%;
    margin: auto;
    border-radius: 10px;
  }
}
/deep/ .el-carousel__arrow {
  display: none;
}
/deep/ .el-carousel__button {
  width: 50px;
  height: 12px;
  background: #BCBEC6;
  border-radius: 6px;
  opacity: 0.3;
}
/deep/ .is-active .el-carousel__button {
  background: #7395DC;
}
/deep/ .el-carousel__indicators--outside {
  margin-top: rpx2multiple(40);
}

.big_banner{
  margin: auto;
  margin-top: rpx2multiple(123);
  width: rpx2multiple(1380);
  min-height: 100px;
  color: #000000;
  p {
    font-size: 36px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #2D2E33;
  }

  .el-row {
    margin-bottom: 20px !important;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    // background: #99a9bf;
  }
  .bg-purple {
    // background: #d3dce6;
  }
  .bg-purple-light {
    // background: #e5e9f2;
  }
  .grid-content {
    border-radius: 5px;
    min-height: 36px;
    text-align: center;
    > div {
      width: rpx2multiple(300);
      height: rpx2multiple(378);
    }
    .jrqd {
      background: url('../../assets/img/slices/jrqd.png') no-repeat center center;
      background-size: 100% 100%;
      &:hover {
        // transition: all 0.5s ease-in-out;
        background: url('../../assets/img/slices/jrqd-hover.png') no-repeat center center;
        background-size: 100% 100%;

      }
    }
    .ygfl {
      background: url('../../assets/img/slices/ygfl.png') no-repeat center center;
      background-size: 100% 100%;
      &:hover {
        // transition: all 0.5s ease-in-out;
        background: url('../../assets/img/slices/ygfl-hover.png') no-repeat center center;
        background-size: 100% 100%;

      }
    }
    .ip {
      background: url('../../assets/img/slices/ip.png') no-repeat center center;
      background-size: 100% 100%;
      &:hover {
        // transition: all 0.5s ease-in-out;
        background: url('../../assets/img/slices/ip-hover.png') no-repeat center center;
        background-size: 100% 100%;

      }
    }
    .hdwz {
      background: url('../../assets/img/slices/hdwz (2).png') no-repeat center center;
      background-size: 100% 100%;
      &:hover {
        // transition: all 0.5s ease-in-out;
        background: url('../../assets/img/slices/hdwz-hover.png') no-repeat center center;
        background-size: 100% 100%;

      }
    }
    .qyzb {
      background: url('../../assets/img/slices/qyzb.png') no-repeat center center;
      background-size: 100% 100%;
      &:hover {
        // transition: all 0.5s ease-in-out;
        background: url('../../assets/img/slices/qyzb-hover.png') no-repeat center center;
        background-size: 100% 100%;

      }
    }
    .rcbg {
      background: url('../../assets/img/slices/icon-ry.png') no-repeat center center;
      background-size: 100% 100%;
      &:hover {
        // transition: all 0.5s ease-in-out;
        background: url('../../assets/img/slices/icon-ry-1.png') no-repeat center center;
        background-size: 100% 100%;

      }
    }
    .swlz {
      background: url('../../assets/img/slices/swlz.png') no-repeat center center;
      background-size: 100% 100%;
      &:hover {
        // transition: all 0.5s ease-in-out;
        background: url('../../assets/img/slices/swlz-hover.png') no-repeat center center;
        background-size: 100% 100%;

      }
    }
    .jgfq {
      background: url('../../assets/img/slices/jgfq.png') no-repeat center center;
      background-size: 100% 100%;
      &:hover {
        // transition: all 0.5s ease-in-out;
        background: url('../../assets/img/slices/jgfq-hover.png') no-repeat center center;
        background-size: 100% 100%;

      }
    }
    
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }

  
}
.image {
  width: rpx2multiple(1380);
  margin: 138px auto 60px;
  img {
    width: 100%;
  }
}
.container {

  .tab-list-2-1 {
    width: 100%;
    height: 161px;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      margin:0 48px;
      font-size: 24px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #73757D;
      position: relative;
      cursor: pointer;
      &.active {
        font-weight: 500;
        color: #2D2E33;
      }
      &.active::after {
        content: "";
        width: 72px;
        height: 6px;
        background: #7395DC;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        margin:auto;
      }
    }
  }
}

.pro{
  width: 100%;
  height: 676px;
  display: flex;
  > div {
    height: 100%;
    width: 50%;
    border-radius: 8px;
    // border:solid 1px red;
    overflow: hidden;
  }
  .left {
    margin-right:14px;
    position: relative;
    &:hover {
      transition: all 0.5s ease-in-out;
      > .hover-text {
        bottom: 0 ;
      }
    }
  }
  .right {
    margin-left:10px;
    > div {
      // width: 326px;
      // height: 326px;
      // border:solid 1px blue;
      border-radius: 8px;
    // border:solid 1px red;
      overflow: hidden;
      position: relative;
      .hover-text1 {
        .hp1,.hp2 {
          font-size: 22px;
        }
        .hhhs {
          font-size: 14px;
        }

      }
      &:hover {
        transition: all 0.5s ease-in-out;
        > .hover-text {
          bottom: 0 ;
        }
      }
    }
  }
  .container {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:2;
    grid-column-gap:24px;
    grid-row-gap:24px;
  }
  .hover-text {
    transition: all 0.5s ease-in-out;
    position: absolute;
    bottom: -25%;
    left: 0;
    width: 100%;
    height: 25% ;
    background: rgba($color: #E4E4E4, $alpha: 0.4);
    border-radius: 0px 20px 0px 0px;
    backdrop-filter: blur(10px);
    // opacity: 0.5;
    padding:0 35px;
    .hp1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50%;
      font-size: rpx2multiple(32);;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #FFFFFF;
      .hhhs {
        font-size: rpx2multiple(20);;
        font-weight: 400;
      }
    }
    .hp2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50%;
      font-size: rpx2multiple(35);
      font-family: PangMenZhengDao-3, PangMenZhengDao;
      font-weight: normal;
      color: #FFFFFF;
    }
  }
}
.inspiration {
  .container {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(1,4fr);
    grid-column-gap:25px;
    grid-row-gap:25px;
    > div {
      position: relative;
      overflow: hidden;
      height: 420px;
      border-radius: 8px;
      // &:hover {
      //   transition: all 0.5s ease-in-out;
      //   > .hover-text {
      //     bottom: 0 ;
      //   }
      // }
    }
  }
}