@import "../base";
@function rpx2multiple($px) {
  @return ($px / 1) + px;
}
.container {
  width: rpx2multiple(1380);
  margin: 0 auto;
}

.top_banner {
  padding-top: 61px;
  width: 100%;

  img {
    width: 100%;
  }
}
.Breadcrumb {
  width: rpx2multiple(1380);
  margin:0 auto;
  height: rpx2multiple(100);
}
.el-breadcrumb {
  font-size: 14px;
  height: rpx2multiple(100);
  line-height: rpx2multiple(100);
}
/deep/ .el-breadcrumb__inner {
  font-size: rpx2multiple(18);
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #73757d;
}
/deep/ .el-breadcrumb__inner.is-link {
  font-size: rpx2multiple(28);
}

// .breadcrumb {
//   width: 100%;
//   height: 50px;
//   line-height: 50px;
//   // border-bottom: 1px solid #ccc;
// }

.page_type {
  width: rpx2multiple(1380);
  margin:0 auto;
  height: rpx2multiple(80);
  line-height: rpx2multiple(80);
  // border-bottom: 1px solid #ccc;

  font-size: 18px;
font-family: PingFangSC-Regular, PingFang SC;
font-weight: 400;
color: #73757D;
display: flex;
justify-content: flex-start;
align-items: center;
.sxs {
  font-size: 22px;
font-family: PingFangSC-Medium, PingFang SC;
font-weight: 500;
color: #2D2E33;
display: inline-block;
padding-right: 32px;
}
}

.type_list {
  margin-top: 20px;

  .grid-content {
    border: 1px solid transparent;
    margin-bottom: 25px;

    .vase_item {

      dl {
        a {
          color: #2c3e50;
          text-decoration: none;

          dt {
            padding: 0;
            margin: 0 !important;
            text-align: center;
          }

          dd {
            padding: 0;
            margin: 0 !important;
            font-size: 14px;
            font-weight: bold;
            line-height: 26px;
          }
        }
        .price {
          margin: 0 !important;
          color: #C10000;
          line-height: 26px;
          font-size: 16px;
          padding-left: 9px;

          .button {
            padding-left: 20px;
          }
        }
      }
    }
  }

  .grid-content:hover {
    border: 1px solid #C10000;
    border-radius: 3px;
  }
}
